

<main>
    <div class="container" style="min-height:50%;">
        <div class="profile-info">
            <h2>TestPlay Technologies</h2>
            
            <!-- Replace placeholders with actual user information -->
           @*  <p>Name: Mr. Yasir Ali Chishti</p>
            <p>Email: yasiralichishti@gmail.com </p>
            <p>Mobile: 03417838323</p> *@
        </div>
        <div class="contact-link">
           @*  <a href="mailto:yasiralichishti@gmail.com">Contact Developer via Email</a> *@
        </div>
    </div>
</main>
