@model LMSWeb.Models.SubjectDetailsViewModel
<div>
    <div class="row">
        <div class="col-sm-12 col-lg-10">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Add Subject Resource Form</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form  method="post" >
                        <div class="row">
                            <!-- Left Column -->
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label asp-for="SubjectId" class="form-label"></label>
                                    <select asp-for="SubjectId" disabled class="form-control" asp-items="ViewBag.SubjectList"></select>
                                    <span asp-validation-for="SubjectId" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="ResourceType" class="form-label"></label>
                                    <select asp-for="ResourceType" disabled class="form-control" asp-items="ViewBag.AvailableResourceType"></select>
                                    <span asp-validation-for="ResourceType" class="text-danger"></span>
                                </div>

                            </div>
                            <!-- Right Column -->
                            <div class="col-lg-6">
                                <div class="mb-3 text-center">

                                    <img src="~/images/students/student.png" id="preview" class="img-fluid rounded-circle" alt="Student Image" style="max-width: 200px; max-height:230px; border: solid 1px; green">
                                </div>
                                <div style="text-align:center">
                                    <input type="file" id="uploadImage" name="file" asp-for="ResourceUrl" class="form-control-file" onchange="previewImage(event)" style="display: none;">
                                   
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">

                            @*  <input type="hidden" asp-for="ResourceUrl" class="form-control" /> *@
                            <span asp-validation-for="ResourceUrl" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Delete</button>
                        <a asp-controller="SubjectDetails" asp-action="index" class="btn btn-danger">cancel</a>
                    </form>

                </div>
            </div>

        </div>

    </div>
</div>



