@model LMSWeb.Models.AssessmentScheduleViewModel
<div>
    <div class="row">
        <div class="col-sm-12 col-lg-10">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">update Assignment and Exam</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="row">
                            <!-- Left Column -->
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label asp-for="BatchId" class="form-label"></label>
                                    <select asp-for="BatchId" class="form-control" onchange="getSubjects(this)" asp-items="ViewBag.BatchList" readonly></select>
                                    <span asp-validation-for="BatchId" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="SubjectId" class="form-label"></label>
                                    <select asp-for="SubjectId" readonly class="form-control" asp-items="ViewBag.SubjectList" id="SubjectId" readonly></select>
                                    <span asp-validation-for="SubjectId" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="AssessmentId" class="form-label"></label>
                                    <select asp-for="AssessmentId" readonly class="form-control" asp-items="ViewBag.AssessmentList" readonly></select>
                                    <span asp-validation-for="AssessmentId" class="text-danger"></span>
                                </div>

                            </div>
                            <!-- Right Column -->
                            <div class="col-lg-6">
                                <div class="mb-3 text-center">

                                    <img src="~/resources/notes.png" id="preview" class="img-fluid rounded-circle" alt="Student Image" style="max-width: 200px; max-height:230px;">
                                </div>
                                <div style="text-align:center">
                                    <input  asp-for="AssessmentSource" type="hidden" class="form-control-file" >
                                   <span asp-validation-for="AssessmentSource" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label asp-for="AssessmentDate" class="form-label"></label>
                                            <input type="date"  asp-for="AssessmentDate" class="form-control" />
                                            <span asp-validation-for="AssessmentDate" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label asp-for="StartTime" class="form-label"></label>
                                            <input type="time"  asp-for="StartTime" class="form-control" />
                                            <span asp-validation-for="StartTime" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label asp-for="EndTime" class="form-label"></label>
                                    <input type="time"  asp-for="EndTime" class="form-control" />
                                    <span asp-validation-for="EndTime" class="text-danger"></span>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label asp-for="TotalMarks" class="form-label"></label>
                                            <input asp-for="TotalMarks"  class="form-control" />
                                            <span asp-validation-for="TotalMarks" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label asp-for="Passingmarks" class="form-label"></label>
                                            <input asp-for="Passingmarks"  class="form-control" />
                                            <span asp-validation-for="Passingmarks" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label asp-for="Status" class="form-label"></label>
                                    <select asp-for="Status" readonly class="form-control" asp-items="ViewBag.AvailableOptions"></select>
                                    <span asp-validation-for="Status" class="text-danger"></span>
                                </div>

                            </div>
                        </div>
                        <div class="mb-3">

                            @*  <input type="hidden" asp-for="ResourceUrl" class="form-control" /> *@

                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                        <a asp-controller="AssessmentSchedule" asp-action="index" class="btn btn-danger">cancel</a>
                    </form>

                </div>
            </div>

        </div>

    </div>
</div>


