@model LMSWeb.Models.StudentViewModel
<div>
    <div class="row">
        <div class="col-sm-12 col-lg-10">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Registration Form</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="row">
                            <div asp-validation-summary="All" class="text-danger"></div>
        <!-- Left Column -->
        <div class="col-lg-6">
            <div class="mb-3">
                <label asp-for="FullName" class="form-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="FatherName" class="form-label"></label>
                <input asp-for="FatherName" class="form-control" />
                <span asp-validation-for="FatherName" class="text-danger"></span>
            </div>
                                <div class="mb-3">
                                    <label asp-for="DOB" class="form-label"></label>
                                    <input type="date" asp-for="DOB" class="form-control" />
                                    <span asp-validation-for="DOB" class="text-danger"></span>
                                </div>
        </div>
        <!-- Right Column -->
        <div class="col-lg-6">
            <div class="mb-3 text-center">
              
                <img src="~/images/students/student.png" id="preview"  class="img-fluid rounded-circle" alt="Student Image" style="max-width: 200px; max-height:230px; border: solid 1px; green">
            </div>
                           <div style="text-align:center">
                                    <input type="file" id="uploadImage" name="file" class="form-control-file" onchange="previewImage(event)" style="display: none;">
                                    <button type="button" class="btn btn-secondary" onclick="document.getElementById('uploadImage').click();">Upload Image( .jpg .png only) </button>
                           </div>
        </div>
    </div>
    <div class="row">
        <!-- Left Column -->
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label asp-for="RegistrationNo" class="form-label"></label>
                                    <input asp-for="RegistrationNo" class="form-control" />
                                    <span asp-validation-for="RegistrationNo" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="MobileNo" class="form-label"></label>
                                    <input asp-for="MobileNo" class="form-control" />
                                    <span asp-validation-for="MobileNo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label asp-for="Password" class="form-label"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Gender" class="form-label"></label>
                                    <select asp-for="Gender" class="form-control" asp-items="ViewBag.GenderOptions"></select>

                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                            </div>
        <div class="col-lg-12">
            <div class="mb-3">
                                    <label asp-for="Address" class="form-label"></label>
                                    <input asp-for="Address" class="form-control" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
            </div>
                               
        </div>
        <!-- Right Column -->

                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label asp-for="City" class="form-label"></label>
                                            <input asp-for="City" class="form-control" />
                                            <span asp-validation-for="City" class="text-danger"></span>
                                           
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label asp-for="Email" class="form-label"></label>
                                            <input asp-for="Email" class="form-control" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label asp-for="Status" class="form-label"></label>
                                    <select asp-for="Status" class="form-control" asp-items="ViewBag.AvailableOptions">
                                        <option value="">--- Select Student Status ---</option>
                                    </select>
                                    <span asp-validation-for="Status" class="text-danger"></span>
                                </div>

                            </div>
    </div>
    <div class="mb-3">
       
         <input type="hidden" value="/images/students/student.png" asp-for="ImageURL" class="form-control" />
        <span asp-validation-for="ImageURL" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
                        <a asp-controller="Student" asp-action="index" class="btn btn-danger">cancel</a>
</form>

                </div>
            </div>

        </div>

    </div>
</div>



<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var preview = document.getElementById('preview');
            preview.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>